/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*=============== NULL STYLE ===============*/
/*========== Zeroing ==========*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.3s;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;
  /*========== Colors ==========*/
  --primary-1: #7A66CC;
  --primary-2: #2F2B2B;
  --white-color: #ffffff;
  --body-color: #1C1B21;
  /*========== Font and typography ==========*/
  --font: "Poppins", sans-serif;
  --display-font-size: 4.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margins Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}
@media screen and (min-width: 968px) {
  :root {
    --display-font-size: 6.25rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

h1, h2, h3 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--font);
}

/*=============== WRAPPER ===============*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*=============== _CONTAINER ===============*/
._container {
  width: 100%;
  max-width: calc(1140px + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: var(--z-fixed);
  padding: 0.5rem 0;
}
.header-scroll {
  background-color: rgb(122, 102, 204);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

/*========== Navigation ==========*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  height: var(--header-height);
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem 3.34rem;
}
.nav__link {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 150%;
  color: var(--white-color);
}
.nav__burger {
  display: none;
}
.nav__burger img {
  width: 3.75rem;
}
@media (max-width: 830px) {
  .nav__burger {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .nav__container {
    gap: 0.75rem;
  }
}

/*=============== HOME SECTION ===============*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: calc(100vh - var(--header-height));
}
.home__data {
  font-weight: var(--font-bold);
}
.home__data-subtitle {
  font-size: var(--h1-font-size);
  line-height: 150%;
}
.home__data-title {
  font-size: var(--display-font-size);
  line-height: 150%;
  -webkit-text-stroke: 1px var(--white-color);
  color: transparent;
}
.home__player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.home__player-line {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  border: none;
}
.home__player-line-playing {
  position: absolute;
  overflow: visible;
  left: 66px;
  width: 12.5%;
  height: 2px;
  background-color: var(--primary-1);
  border: none;
}
.home__player-line-playing::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 100%;
  width: 2px;
  height: 20px;
  background-color: var(--primary-1);
}
.home__player-time {
  white-space: nowrap;
  font-weight: var(--font-medium);
}
@media (max-width: 425px) {
  .home__player {
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .home__player-line {
    order: -1;
  }
  .home__player-line-playing {
    top: 0;
    left: 0;
  }
}

/*=============== CARDS SECTION ===============*/
.cards {
  margin-top: -80px;
}
.cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cards__block {
  position: relative;
  width: 100%;
  max-width: 24.8em;
  height: 18.75em;
  overflow: hidden;
  border-radius: 1.25em 0 1.25em 0;
}
.cards__block-img {
  position: absolute;
  width: 100%;
  object-position: center;
}
.cards__block:hover {
  cursor: pointer;
  border-radius: 0 1.25em 0 1.25em;
}
.cards__block:hover img {
  transform: scale(1.2);
}
.cards__block-text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 20px;
  font-size: var(--h3-font-size);
  line-height: 150%;
  background-color: rgba(122, 102, 204, 0.7);
  border-top-left-radius: 1.25em;
}

/*=============== ABOUT ===============*/
.about {
  padding-top: 11.25rem;
}
.about__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 45%;
}
.about__description-title {
  position: relative;
  margin-left: 100px;
  font-size: var(--h1-font-size);
}
.about__description-title:before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: -100px;
  width: 65px;
  height: 30px;
  background: url("../images/about/lines.svg") center;
  background-size: cover;
}
.about__description-text {
  line-height: 156.25%;
  opacity: 0.7;
}
.about__description-points {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.about__description-points h2 {
  position: relative;
  padding: 0 0 30px 50px;
  white-space: nowrap;
  font-size: var(--h3-font-size);
  line-height: 150%;
}
.about__description-points h2::before {
  content: "";
  position: absolute;
  top: -3.75px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: var(--primary-1);
  border-radius: 10px 0 10px 0;
}
@media (max-width: 1000px) {
  .about__container {
    justify-content: center;
  }
  .about__description {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .about__description-points {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.about__photos {
  position: relative;
}
.about__photos-bright {
  margin-right: 95px;
  border-radius: 1.25em 0 1.25em 0;
}
.about__photos-car {
  position: absolute;
  top: 65px;
  left: 95px;
  z-index: -1;
  border-radius: 1.25em 0 1.25em 0;
}

/*=============== QUOTE ===============*/
.quote {
  padding-top: 14.4rem;
}
.quote__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 50px 80px;
  border: 1px solid var(--white-color);
  border-radius: 1.25em 0 1.25em 0;
}
.quote__inner-text {
  position: relative;
  width: 100%;
  max-width: 520px;
  font-size: var(--h3-font-size);
  line-height: 150%;
}
.quote__inner-text::before {
  content: url("../images/quote/quotes.svg");
  position: absolute;
  top: 0;
  left: 0;
}
.quote__inner-line {
  width: 100%;
  height: 1px;
  margin: 25px 0;
  background-color: var(--white-color);
  opacity: 0.6;
  border: none;
}
.quote__inner-author {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: var(--primary-1);
}
.quote__inner-author:hover {
  color: var(--white-color);
  filter: drop-shadow(0 0 5px var(--primary-1));
}
.quote__photo {
  position: relative;
  width: 100%;
  max-width: 370px;
}
.quote__photo-img {
  width: 100%;
  max-width: 370px;
  height: 480px;
  position: absolute;
  top: calc(50% - 240px);
  left: 0;
  border-radius: 1.25em 0 1.25em 0;
  object-fit: cover;
}
@media (max-width: 767px) {
  .quote__container {
    align-items: center;
    flex-direction: column;
    padding: 25px 40px;
  }
  .quote__photo {
    height: 300px;
  }
  .quote__photo-img {
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }
}

/*=============== TRACKS ===============*/
.tracks {
  padding-top: 14.4rem;
  margin-bottom: 200px;
}
.tracks__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
@media (max-width: 1200px) {
  .tracks__container {
    justify-content: center;
  }
}
.tracks-img {
  width: 100%;
  max-width: 430px;
  height: 100%;
  border-radius: 50%;
  border: 18px solid rgba(122, 102, 204, 0.6);
  outline: 18px solid rgba(122, 102, 204, 0.3);
}
.tracks__title {
  position: relative;
  margin-left: 100px;
  font-size: var(--h1-font-size);
}
.tracks__title:before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: -100px;
  width: 65px;
  height: 30px;
  background: url("../images/tracks/lines.svg") center;
  background-size: cover;
}
.tracks__player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  margin: 60px 0 50px 0;
}
.tracks__player-line {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  border: none;
}
.tracks__player-line-playing {
  position: absolute;
  overflow: visible;
  left: 66px;
  width: 12.5%;
  height: 2px;
  background-color: var(--primary-1);
  border: none;
}
.tracks__player-line-playing::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 100%;
  width: 2px;
  height: 20px;
  background-color: var(--primary-1);
}
.tracks__player-time {
  white-space: nowrap;
  font-weight: var(--font-medium);
}
@media (max-width: 425px) {
  .tracks__player {
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .tracks__player-line {
    order: -1;
  }
  .tracks__player-line-playing {
    top: 0;
    left: 0;
  }
}
.tracks__next-music p {
  font-size: var(--h3-font-size);
  line-height: 150%;
}
.tracks__next-music p:not(:last-child) {
  margin-bottom: 20px;
}
.tracks__next-music p:first-child {
  font-weight: var(--font-semi-bold);
  color: var(--primary-1);
}
.tracks__next-music span {
  margin-right: 20px;
  font-size: 0.8rem;
  font-weight: var(--font-bold);
  color: var(--white-color);
  opacity: 0.5;
}
.tracks__streaming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
}
.tracks__streaming h2 {
  font-size: var(--h2-font-size);
}
.tracks__streaming a {
  position: relative;
  padding-left: 40px;
  color: var(--white-color);
}
.tracks__streaming a:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(--primary-1));
  transform: scale(1.05);
}
.tracks__streaming-spotify::before {
  content: url("../images/tracks/spotify.svg");
  position: absolute;
  top: -7.5px;
  left: 0;
  width: 30px;
  height: 30px;
}
.tracks__streaming-iTunes::before {
  content: url("../images/tracks/iTunes.svg");
  position: absolute;
  top: -7.5px;
  left: 0;
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
